
.grit42-toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #1d2434;
  color: #fff;
  font-size: 10px;
}


.grit42-toolbar__expander {
  position: absolute;
  right: 0;
  top: 0;
  background: red; 
}


.grit42-toolbar__block-group {
  display: flex;
}

.grit42-toolbar__block {
  display: inherit;
  justify-content: inherit;
  margin: 10px;
}

.grit42-toolbar__block--with-border {
  border-right: 1px solid #2a2f3e;
}

.grit42-toolbar__block__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-around;
}

.grit42-toolbar__block__icons__icon {
flex: 0 0 30%
}
 

